# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Environment variables
.env
.venv/

# Logs
*.log

# Temporary files
temp/
temp_images/
models/

# Images
*.jpg
*.jpeg
*.png

# OS files
.DS_Store
Thumbs.db